/* ENDLESS-ONLINE.COM - TEMPLATE
------------------------------------------------------ */

.headerlink{
	color : #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.link{
	color : #70531D;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	position: relative;
}
