/* ENDLESS-ONLINE.COM - TEMPLATE
------------------------------------------------------ */

.headerlink{
	color : #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.sublink{
	color : #222222;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.link{
	color : #70531D;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.smalllink{
	color : #70531D;
	font-family: Arial, sans-serif;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.copyrightlink{
	color : #70531D;
	font-family: Arial, sans-serif;
	font-size: 9px;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.grlink{
	color : #CCCCCC;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.headercontainer {
  width: 1317px;
  height: 476px;
  position: relative;
}

.headerslider {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 130px;
  left: 40px;
}

.headerover {
  width: 1317px;
  height: 476px;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 10;
}


.mySlides {display: none;}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}